/*
  avatar
*/

.post-container {
  display: flex;
  flex-flow: column;
}

.post-avatar-name-field {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas: "avatar name date option";
  justify-content: flex-start;  /* Aligns children to the left */
  align-items: center;
  padding: 0.2rem;
}

.avatar-post-img {
  grid-area: avatar;
  margin-left: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.post-avatar-name-field img{
  width: 5rem;
  height: 5rem;
}

.post-user-name {
  grid-area: name;
  width: auto;
  display: flex;
  flex-flow: row;
  margin-left: 2rem;
  cursor: pointer;
}

.post-user-date {
  grid-area: date;
  width: auto;
  display: flex;
  flex-flow: row;
  margin-left: 2rem;
  cursor: pointer;
}

.post-user-option {
  grid-area: option;
  width: auto;
  display: flex;
  flex-flow: row;
  margin-left: 2rem;
}

.post-content {
  display: flex;
  flex-flow: column;
  margin-left: 2rem;
  margin-right: 2rem;
}


.image-container {
  display: grid;
  width: 100%;
  overflow: visible;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  transition: transform 500ms;
  border-radius: 3%;
  cursor: zoom-in;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  object-fit: cover;
}

.zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* 确保在最前面 */
  background-color: rgba(0, 0, 0, 0.5); /* 背景遮罩 */
  cursor: zoom-out;
}
.zoom-image {
  max-width: 50%;  
  max-height: 50%; 
  width: auto;     
  height: auto;    
  transition: transform 1000ms ease; 
  border-radius: 3%; 
}

.image.zoom {
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-out; 
}

.image-container .image:focus,
.image-container .image:hover {
  transform: scale(1.1);
  z-index: 1;
}

.post-text {
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
}

.post-like-collection-field {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-areas: "like collect forward";
  justify-content: flex-start;  /* Aligns children to the left */
  align-items: center;
}

.post-like {
  display: flex;
  flex-flow: row;
  grid-area: like;
  justify-content: flex-start;      /* Aligns children to the center horizontally */
  width: 100%;                  /* Ensures the div takes up the full width of its container */
  align-items: center;          /* Vertically center-aligns the content */
  zoom: 1.5;
}

.reply-icon {
  color: #767474;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}


.like-fields {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
}

.like-icon {
  font-size: 1rem;
}


@media (max-width: 700px) {
  .post-container {
    display: flex;
    flex-flow: column;
  }

  .post-avatar-name-field {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: "avatar name date option";
    justify-content: flex-start;  /* Aligns children to the left */
    align-items: center;
    padding: 0.2rem;
  }

  .avatar-post-img {
    grid-area: avatar;
    margin-left: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .post-avatar-name-field img{
    width: 3rem;
    height: 3rem;
  }

  .post-user-name {
    grid-area: name;
    width: auto;
    display: flex;
    flex-flow: row;
    margin-left: 1rem;
    cursor: pointer;
    font-size: small;
  }

  .post-user-date {
    grid-area: date;
    width: auto;
    display: flex;
    flex-flow: row;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  .post-text {
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    zoom: 0.8;
  }

  .post-like-collection-field {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-areas: "like collect forward";
    justify-content: flex-start;  /* Aligns children to the left */
    align-items: center;
  }

  .post-like {
    display: flex;
    flex-flow: row;
    grid-area: like;
    justify-content: flex-start;      /* Aligns children to the center horizontally */
    width: 100%;                  /* Ensures the div takes up the full width of its container */
    align-items: center;          /* Vertically center-aligns the content */
    zoom: 1;
  }
}