/* src/ChatBox.css
.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .header span {
    margin-left: 10px;
  }
  
  .body {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .footer {
    display: flex;
    padding: 10px;
  }
  
  .footer input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .footer button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  } */

  /* src/FloatingChatBot.css */
.chat-bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  z-index: 1000;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}



.input-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #aabdc9;
  padding: 10px;
}


.input-container-textarea {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  resize: none;
}

.header span {
  margin-left: 10px;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}

.body-container {
  background-color: var(--light-color);
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  z-index: 10000;
}

.navbar-container {
  height: 40px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

/* Message.css */
.message-container {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.message-bubble {
  padding: 5px 8px;
  border-radius: 20px;
  max-width: 100%;
  margin-top: 5px;
  word-wrap: break-word;
}

.incoming {
  background-color: #ececec; /* Light grey color */
  justify-content: flex-start;
}

.outgoing {
  background-color: #007bff; /* Your chosen color for sent messages */
  color: white;
  justify-content: flex-end;
}

/* This will align the incoming messages to the left */
.incoming-container {
  justify-content: flex-start;
}

/* And this will align the outgoing messages to the right */
.outgoing-container {
  justify-content: flex-end;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  animation: spin 2s linear infinite;
}

.image-preview-container {
  position: relative;
  display: inline-flex; /* 或 'flex' 如果你需要其他元素和图片在同一行 */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.image-preview {
  max-height: 50px;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block; /* 或 'inline-flex' */
  object-fit: contain;
}

.close-preview {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px; /* 根据需要设置 */
  border-radius: 0 4px 0 0; /* 圆角对应图片 */
}


/* 这会在关闭按钮上添加一个简单的悬停效果 */
.close-preview:hover {
  background: #f8f8f8;
}

.images-container {
  display: flex;
  height: auto;
  padding-left: 0.5rem;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #aabdc9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
